<p-table [value]="categories" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header let-columns>
        <tr>
            <th>Nom</th>
            <th>Montant planifié par mois</th>
            <th>Type</th>
            <th>Céé le</th>
        </tr>
    </ng-template>
    <ng-template #body let-category>
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.plannedInMonth }}</td>
            <td>{{ category.type }}</td>
            <td>{{ category.createdDateTime }}</td>
        </tr>
    </ng-template>
</p-table>
